* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.all {
    position: relative;
    display: flex;

    width: 100%;
    height: 100vh;
}

.menu-father-father {
    position:fixed;
    z-index: 2;

    width: 30%;
    height: 100%;
}

.menu-father {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.menu {
    background-color: rgb(217, 217, 217);
    position: relative;
    gap: 3vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 15px;

    width: 95%;
    height: 95%;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;

    width: 85%;
    height: auto;
}

.logo {
    background-image: url('../../src/img/logo.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 5vw;
    min-width: 40px;
    max-width: 110px;
    height: 5vw;
    min-height: 40px;
    max-height: 110px;
}

.menu-icon {
    background-image: url('../../src/img/menu-icon.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: transform ease-in-out 0.3s;

    width: 4vw;
    min-width: 30px;
    max-width: 70px;
    height: 4vw;
    min-height: 30px;
    max-height: 70px;
}

.input {
    background-color: white;
    overflow: hidden;

    display: flex;
    justify-content: baseline;
    align-items: center;
    border-radius: 15px;

    width: 85%;
    height: 6%;
}

.input input {
    padding-left: 3%;
    border: none;
    outline: none;

    font-size: clamp(13px, 1.3vw, 200px);

    width: 85%;
    height: 80%;
}

.search {
    background-image: url('../../src/img/search-icon.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-left: 3%;

    width: 1.8vw;
    min-width: 20px;
    height: 1.8vw;
    min-height: 20px;
}

.gerir {
    background-color: rgb(87, 86, 86);

    display: flex;
    align-items: center;
    margin-top: 5%;

    width: 98%;
    height: 1px;
}

.gerir h1 {
    font-size: clamp(18px, 2vw, 70px);
    color: rgb(87, 86, 86);

    margin-left: 5%;
    padding: 0px 5px;
    background-color: rgb(217, 217, 217);
}

.box {
    display: flex;
    align-items: center;
    
    border: 3px solid rgba(87, 86, 86, 0);

    transition: all ease-in-out 0.3s;

    padding: 2px 0px 2px 0px;

    width: 100%;
    height: auto;
} 

.box h1 {
    font-size: clamp(18px, 1.8vw, 70px);
    font-weight: normal;
    color: rgb(87, 86, 86);

    transition: all ease-in-out 0.3s;

    margin-left: 3%;
}

.box:last-child {
    position: absolute;
    bottom: 3%;
}

.more {
    background-image: url('../../src/img/add-icon.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-left: 3%;

    width: 2.5vw;
    min-width: 30px;
    height: 2.5vw;
    min-height: 30px;
}

.delete {
    background-image: url('../../src/img/delete-icon.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-left: 3%;

    width: 2.5vw;
    min-width: 30px;
    height: 2.5vw;
    min-height: 30px;
}

.user {
    background-image: url('../../src/img/user-icon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-left: 3%;

    width: 2.5vw;
    min-width: 30px;
    height: 2.5vw;
    min-height: 30px;
}

.log-out {
    background-image: url('../../src/img/log-out.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-left: 3%;

    width: 3vw;
    min-width: 30px;
    height: 3vw;
    min-height: 30px;
}

.lists-father {
    padding: 0px 10px 0px 1%;

    width: 100%;
    height: 100%;
}

.lists-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: auto;
    height: 25%;
    max-height: 450px;
}

.lists-title h1 {
    font-size: clamp(70px, 7vw, 200px);
    cursor: default;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1vw;

    width: 100%;
    height: auto;
}

.list {
    position: relative;
    z-index: 1;

    background-color: rgb(217, 217, 217);
    border-radius: clamp(15px, 0.3vw, 100px);

    padding: 3% 0% 0% 2%;

    width: 20vw;
    min-width: 290px;
    max-width: 600px;
    height: 21vw;
    min-height: 320px;
    max-height: 750px;

}

.list h1{
    font-size: clamp(30px, 2.2vw, 200px);
}

.list ul {
    margin-left: 7%;
    margin-top: 4%;

    font-size: clamp(20px, 1.5vw, 200px);
}

.edit {
    background-image: url('../../src/img/pen.png');
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
    transition: transform ease-in-out 0.3s;

    position: absolute;
    bottom: 3%;
    right: 3%;

    width: 3vw;
    min-width: 30px;
    height: 3vw;
    min-height: 30px;
}

.open-menu {
    background-color: rgb(217, 217, 217);
    background-image: url('../../src/img/menu-icon.svg');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: clamp(7px, 0.6vw, 200px);

    transition: transform ease-in-out 0.3s;

    width: 4vw;
    min-width: 48px;
    height: 4vw;
    min-height: 48px;
}

.edit-menu-container {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.edit-menu {
    background-color: rgb(217, 217, 217);
    border-radius: 10px;
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.36);

    width: 70%;
    min-width: 350px;
    height: 70%;
}

.edit-top {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 20%;
}

.edit-top h1 {
    font-size: clamp(24px, 4vw, 200px);
    font-weight: bold;

    background: none;
    border: none;
    outline: none;

    width: 80%;
}

.close {
    background-image: url('../../src/img/close.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: transform ease-in-out 0.3s;

    width: 4vw;
    min-width: 25px;
    height: 4vw;
    min-height: 25px;
}

.edit-topics {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 80%;
}

.edit-topics-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 8px;

    margin-top: 20px;
    padding-left: 3%;
    margin-bottom: 25px;

    width: 100%;
    height: 10%;
    min-height: 15px;
}

.edit-topics-top input {
    font-size: clamp(18px, 2.2vw, 70px);
    padding: 5px 15px;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    outline: none;
    border: none;

    width: 90%;
    height: auto;
}

.add {
    background-color: white;
    border-radius: 8px;
    transition: transform ease-in-out 0.3s;

    padding: 5px 5px;

    width: 3.4vw;
    min-width: 35px;
    height: 3.4vw;
    min-height: 35px;
}

.add-container {
    background-image: url('../../src/img/add.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

.all-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;

    overflow: auto;

    width: 100%;
    height: 55%;
}

.topic-all {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 15px;

    width: 100%;
    height: 10%;
}

.point {
    border-radius: 50%;
    background-color: black;

    width: 1vw;
    min-width: 10px;
    height: 1vw;
    min-height: 10px;
}

.topic {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 25px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 88%;
    height: 100%;
}

.topic p {
    font-size: clamp(18px, 2.2vw, 70px);
}

.delete-topic {
    background-image: url('../../src/img/delete.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: transform ease-in-out 0.3s;

    width: 2.8vw;
    min-width: 28px;
    max-width: 40px;
    height: 2.8vw;
    min-height: 28px;
    max-height: 40px;
}

.popup-submit-father {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 35%;
}

.popup-submit {
    background-color: rgb(31, 220, 31);
    border-radius: 12px;
    transition: transform ease-in-out 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 30%;
    min-height: 50px;
}

.popup-submit p {
    font-size: clamp(18px, 2.2vw, 70px);
    color: white;

    text-align: center;
    text-align-last: center;
}



#edit-menu-container-add-list .edit-menu {
    height: 30%;
}

#edit-menu-container-add-list .edit-top {
    height: 40%;
}

#edit-menu-container-add-list .edit-topics {
    height: 60%;
}

#edit-menu-container-add-list .edit-topics-top {
    height: 30%;
}

#edit-menu-container-add-list .popup-submit-father {
    height: 70%;
}

#edit-menu-container-add-list .edit-topics-top {
    padding-left: 0%;
    justify-content: center;
}

#edit-menu-container-add-list input {
    width: 95%;
}

#edit-menu-container-delete-list .edit-menu {
    height: 30%;
}

#edit-menu-container-delete-list .edit-top {
    height: 40%;
}

#edit-menu-container-delete-list .edit-topics {
    height: 60%;
}

#edit-menu-container-delete-list .edit-topics-top {
    height: 30%;
}

#edit-menu-container-delete-list .popup-submit-father {
    height: 70%;
}

#edit-menu-container-delete-list .popup-submit {
    background-color: red;
}

#edit-menu-container-delete-list .edit-topics-top {
    padding-left: 0%;
    justify-content: center;
}

#edit-menu-container-delete-list input {
    width: 95%;
}

.menu-icon:hover, .edit:hover, .close:hover, .add:hover, .delete-topic:hover, .popup-submit:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.box:hover {
    cursor: pointer;
}

.box:hover h1 {
    transform: translateX(4px);
}



@media(max-width:720px) {
    .menu-father-father {
        width: 100%;
    }
    .lists-father.width {
        display: none;
    }
    .lists-father.animation-lists2 {
        animation: list2 0s ease-in-out;
    }
    .lists-father {
        padding-left: 15px;
    }
    .lists-title {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .lists {
        justify-content: center;
        padding-bottom: 10px;
    }
    .open-menu {
        display: block;
    }
    .input input {
        font-size: clamp(13px, 2vw, 70px);
    }
    .box h1 {
        font-size: clamp(18px, 2.4vw, 70px);
    }
    .lists-title h1 {
        margin-left: 3%;
    }
    .popup-submit {
        width: 80%;
    }
}