* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signIn-hero {
    position: relative;

    width: 100%;
    height: 100vh;
    min-height: 600px;
}

.signIn-top {
    position: absolute;
    z-index: 1;

    display: flex;
    align-items: center;

    width: 100%;
    height: auto;
}

.signIn-top a {
    margin: 1% 0% 0% 2%;
}

.back {
    transition: all ease-in-out 0.3s;

    width: 7vw;
    min-width: 70px;
    height: 7vw;
    min-height: 70px;
}

.back-container {
    background-image: url('../src/Arrow\ 1.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

.back:hover {
    transform: scale(0.8);
}

.signIn-center {
    position: relative;
    top: 0%;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.sign-in-center-container {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 3vh;

    width: auto;
    height: 100%;
}

.signIn-icon {
    width: 18vw;
    min-width: 130px;
    height: 18vw;
    min-height: 130px;
}

.signIn-icon-container {
    background-image: url('../src/logo.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

.signIn-icon:hover {
    animation: 1s icon linear;
}

@keyframes icon {
    0%{transform: rotate(0deg) scale(1);}
    25%{transform: rotate(25deg) scale(1.2);}
    50%{transform: rotate(0deg) scale(1.2);}
    75%{transform: rotate(-25deg) scale(1.2);}
    100%{transform: rotate(0deg) scale(1);}
}

.signIn-center form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;

    width: auto;
    height: auto;
}

.signIn-center form label {
    font-family: "Inter", sans-serif;
    font-size: clamp(25px, 3vw, 70px);
}

.last-label {
    margin-top: 2vh;

    display: flex;
    justify-content: center;

    width: 100%;
}

.last-label label span {
    color: rgb(105,105,105,100);
    font-size: clamp(14px, 2vw, 70px);
}

.last-label label a {
    text-decoration: none;
    color: black;
    font-size: clamp(14px, 2vw, 70px);

    display: inline-flex;
    justify-content: center;

    transition: transform ease-in-out 0.3s;

    cursor: pointer;
}

.last-label label a:hover {
    text-decoration: underline;
    transform: scale(0.9);
}

form input {
    font-family: "Inter", sans-serif;
    font-size: clamp(18px, 2.2vw, 70px);
    padding: 10px 15px;

    background-color: lightgrey;
    border: clamp(2px, 0.1vw, 6px) solid black;
    border-radius: 8px;

    width: 100%;
}

#submit {
    margin-top: clamp(45px, 5vh, 200px);
    background-color: transparent;

    padding: 10px 0px;

    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

#submit:hover {
    background-color: black;
    color: white;
}

.box {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 1vw;

    width: 100%;
}

#box-password {
    position: relative;

    display: flex;
    justify-content: end;
    align-items: center;

    width: 100%;
}

.password {
    padding-right: 60px;
}

.hide {
    background-image: url('../src/hide-password.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    right: 15px;
    cursor: pointer;

    width: 2.8vw;
    height: 2.8vw;
    min-width: 25px;
    min-height: 25px;
}

.icon-email {
    background-image: url('../src/mail.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 3vw;
    height: 3vw;
    min-width: 25px;
    min-height: 25px;
}

.icon-password {
    background-image: url('../src/password-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 3vw;
    height: 3vw;
    min-width: 25px;
    min-height: 25px;
}

.show {
    background-image: url('../src/show.png');
}

.signIn-center form .error {
    border-color: red;
    color: red;
}

.signIn-center form input::placeholder {
    color: red;
}

@media(min-width:1600px) {
    .signIn-center form input {
        border-radius: 20px;
        padding: 15px 15px;
    }
    .signIn-center form label {
        font-size: clamp(18px, 3vw, 700px);
    }
    .signIn-center form #submit {
        border-radius: 20px;
    }
}

@media(max-width:540px) {
    .signIn-top {
        z-index: 3;
    }
}